body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.calculator{
    height: 400px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(210, 220, 182);
    border: 2px solid rgb(140, 203, 140);
    border-radius: 20px;


}
.display input{
    width: 99%;
    height: 70px;
    background-color: #F1F3E0;
    color: wheat;
    border: none;
    border-radius: 20px;
    padding: 2px;
    margin-top: 3px;
    font-size: 5rem;
    color: wheat;
    text-align: left;
    
}


#keys{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}



button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: rgb(112, 111, 115);
    color: wheat;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bolder;


}
button:hover{
    background-color: rgb(80, 136, 40);
}
button:active{
    background-color: rgb(100, 101, 115);
}